.my-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container {
    width: 50vw;
}

.crossed {
    text-decoration: line-through;
}

@media (max-width: 700px) {
    .main-container {
        width: 90vw;
        max-width: 90vw;
    }
}